.ItemDetailContainer{
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    width: 1000px;
    background-color: white;
    height: fit-content;
    padding-bottom: 32px;
}

.ItemDetailColumnA{
    width: 680px;
    display: inline-flex;
    flex-direction: column;
}

.ItemDetailPicture{
    max-width: 680px;
    max-height: 680px;
    width: 680px;
    height: 680px;
}

.ItemDetailDescription{
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    padding: 32px 0px 32px 32px;

    h2{
        font-size: 28px;
    }

    p{
        font-size: 16px;
    }
}

.ItemDetailColumnB{
    width: 30%;
    padding-top: 32px;
    padding-right: 32px;
    text-align: left;

    p{
        font-size: 14px;
        padding-bottom: 14px;
        margin: 0px;
    }

    h1{
        font-size: 46px;
        padding-bottom: 32px;
        margin: 0px;
    }

    h2{
        font-size: 24px;
        padding-bottom: 32px;
        margin: 0px;
        overflow-wrap: break-word;
    }
}

.ItemDetailBuyButton {
    font-size: 18px;
    width: 100%;
    color: white;
    background-color: #3483fa;
    margin: 0px;
    text-align: center;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    display:block;
    overflow:hidden;
    border: none;
}